{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 


</head>
<body >


<div class="container" style="background-image: url(../static/images/body.jpg); background-size: cover; background-repeat: no-repeat; width: 800px; margin: 0 auto;">
    <div class="one" style="background-color: #320733; padding: 20px; background-image: url(../static/images/body.jpg); background-size: cover; background-repeat: no-repeat; padding-top: 50px; margin-bottom: -30px;">
        <h1 style="color: white; text-align: center; font-weight: bold;">Welcome {{ username }}!</h1>
    </div>
    <div class="two" style="background-image: url(../static/images/bg2.avif); background-size: cover; background-repeat: no-repeat; height: 300px; padding-bottom: 30px;">
        <p style="color: white; text-align: center; font-weight: bold; padding-top: 50px;font-size: 20px;">Thank you for registering on our platform.</p>
        <p style="color: white; text-align: center; font-weight: bold;font-size: 20px;">We are excited to have you with us!</p>
        <p style="color: white; font-weight: bold; text-align: center;font-size: 20px;">Thank you</p>
        <div class="logo" style="text-align: center;">
            <img src="../static/images/logo.jpg" alt="Logo" style="max-width: 100px; margin-top: 20px;height: 80px;">
        </div>
    </div>
</div>
</body>
</html> 


